<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <form class="" action="/new" method="post">
      <input type="text" name="bookmark_url">
      <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>
